#shop-page {
    display: flex;
    h1 {
        margin: 20px;
        margin-left: 35px;
    }
    .shop-filter {
        margin-top: 50px;
        flex: 0.3;
        height: 100vh;
        background-color: rgb(243, 243, 243);
    }
}