.nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #2d78f0;
  .nav-item {
    color: #fafcff;
    text-decoration: none;
  }
  .logo {
    flex: 1;
    display: flex;
    margin: 10px;
    margin-left: 5px;
    h2 {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 30px;
    }
    .shopping-cart-logo {
      width: 45px;
      margin-left: 10px;
    }
  }
  .shop-button {
    flex: 0.7;
    margin-top: 20px;
    margin-left: 10px;
    cursor: default;
    h2 {
      font-size: 25px;
    }
  }

  .search {
    flex: 8;
    margin: 10px;
    font-size: 50px;
    background-color: "#FAFCFF" !important;
  }

  .sign-in-button {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
  }

  .account-button {
    cursor: default;
    h2 {
      font-size: 22px;
      margin: 20px;
    }
  }

  .cart-button {
    flex: 0.7;
    .cart {
      width: 50px;
      margin: 10px;
    }
  }
}

.shop-menu {
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
  z-index: 3;
  @media only screen and (max-width: 3500px) {
    left: 9%;
    width: 1000px;
  }
  @media only screen and (max-width: 2300px) {
    left: 10%;
    width: 800px;
  }
  @media only screen and (max-width: 1200px) {
    left: 18%;
    width: 600px;
  }
  @media only screen and (max-width: 900px) {
    left: 20%;
    width: 400px;
  }
  @media only screen and (max-height: 1400px) {
    height: 600px;
  }
  @media only screen and (max-height: 1000px) {
    height: 400px;
  }
  .category-list {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    > :not(:nth-child(4n)) {
      border-right: rgb(73, 73, 73) 1px solid;
    }
    > :not(:nth-last-child(-n + 4)) {
      border-bottom: rgb(73, 73, 73) 1px solid;
    }
    .category {
      transition: 500ms;
      &:hover {
        background-color: #dadada;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        p {
          color: #2d78f0;
          @media only screen and (max-width: 3500px) {
            font-size: 20px;
          }
          @media only screen and (max-width: 2300px) {
            font-size: 17px;
          }
          @media only screen and (max-width: 1200px) {
            font-size: 14px;
          }
          @media only screen and (max-width: 900px) {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.account-menu {
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
  top: 100%;
  @media only screen and (min-width: 3501px) {
    right: 5%;
    width: 250px;
  }
  @media only screen and (max-width: 3500px) {
    right: 5%;
    width: 250px;
  }
  @media only screen and (max-width: 2300px) {
    right: 6%;
    width: 200px;
  }
  @media only screen and (max-width: 1200px) {
    right: 8%;
    width: 200px;
  }
  @media only screen and (max-width: 900px) {
    right: 10%;
    width: 150px;
  }
  @media only screen and (max-height: 1400px) {
    height: 100px;
  }
  @media only screen and (max-height: 1000px) {
    height: 150px;
  }
  :not(:last-child) {
    border-bottom: #2d78f0 1px solid;
  }
  .account-link {
    transition: 500ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        color: #2d78f0;
      }
      text-decoration: none;
    }
    &:hover {
      background-color: #dadada;
    }
  }
}
