.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2d78f0;
}

.nav .nav-item {
  color: #fafcff;
  text-decoration: none;
}

.nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  margin-left: 5px;
}

.nav .logo h2 {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 30px;
}

.nav .logo .shopping-cart-logo {
  width: 45px;
  margin-left: 10px;
}

.nav .shop-button {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  margin-top: 20px;
  margin-left: 10px;
  cursor: default;
}

.nav .shop-button h2 {
  font-size: 25px;
}

.nav .search {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  margin: 10px;
  font-size: 50px;
  background-color: "#FAFCFF" !important;
}

.nav .sign-in-button {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.nav .account-button {
  cursor: default;
}

.nav .account-button h2 {
  font-size: 22px;
  margin: 20px;
}

.nav .cart-button {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.nav .cart-button .cart {
  width: 50px;
  margin: 10px;
}

.shop-menu {
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
}

@media only screen and (max-width: 3500px) {
  .shop-menu {
    left: 9%;
    width: 1000px;
  }
}

@media only screen and (max-width: 2300px) {
  .shop-menu {
    left: 10%;
    width: 800px;
  }
}

@media only screen and (max-width: 1200px) {
  .shop-menu {
    left: 18%;
    width: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .shop-menu {
    left: 20%;
    width: 400px;
  }
}

@media only screen and (max-height: 1400px) {
  .shop-menu {
    height: 600px;
  }
}

@media only screen and (max-height: 1000px) {
  .shop-menu {
    height: 400px;
  }
}

.shop-menu .category-list {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.shop-menu .category-list > :not(:nth-child(4n)) {
  border-right: #494949 1px solid;
}

.shop-menu .category-list > :not(:nth-last-child(-n + 4)) {
  border-bottom: #494949 1px solid;
}

.shop-menu .category-list .category {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.shop-menu .category-list .category:hover {
  background-color: #dadada;
}

.shop-menu .category-list .category a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.shop-menu .category-list .category a p {
  color: #2d78f0;
}

@media only screen and (max-width: 3500px) {
  .shop-menu .category-list .category a p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 2300px) {
  .shop-menu .category-list .category a p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1200px) {
  .shop-menu .category-list .category a p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .shop-menu .category-list .category a p {
    font-size: 11px;
  }
}

.account-menu {
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
  top: 100%;
}

@media only screen and (min-width: 3501px) {
  .account-menu {
    right: 5%;
    width: 250px;
  }
}

@media only screen and (max-width: 3500px) {
  .account-menu {
    right: 5%;
    width: 250px;
  }
}

@media only screen and (max-width: 2300px) {
  .account-menu {
    right: 6%;
    width: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  .account-menu {
    right: 8%;
    width: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .account-menu {
    right: 10%;
    width: 150px;
  }
}

@media only screen and (max-height: 1400px) {
  .account-menu {
    height: 100px;
  }
}

@media only screen and (max-height: 1000px) {
  .account-menu {
    height: 150px;
  }
}

.account-menu :not(:last-child) {
  border-bottom: #2d78f0 1px solid;
}

.account-menu .account-link {
  -webkit-transition: 500ms;
  transition: 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account-menu .account-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.account-menu .account-link a p {
  color: #2d78f0;
}

.account-menu .account-link:hover {
  background-color: #dadada;
}
/*# sourceMappingURL=Navbar.css.map */