.nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #2d78f0;
  .logo {
    flex: 1;
    text-decoration: none;
    display: flex;
    margin: 10px;
    margin-left: 5px;
    h2 {
      margin-left: 10px;
      margin-top: 5px;
      color: #fafcff;
      font-size: 30px;
    }
    .shopping-cart-logo {
      width: 45px;
      margin-left: 10px;
      color: #fafcff;
    }
  }
  .shop-button {
    flex: 0.7;
    color: #fafcff;
    margin-top: 20px;
    margin-left: 10px;
    cursor: default;
    h2 {
      font-size: 25px;
    }
  }

  .search {
    flex: 8;
    margin: 10px;
    font-size: 50px;
    background-color: "#FAFCFF" !important;
  }

  .cart-button {
    flex: 0.7;
    .cart {
      width: 50px;
      margin: 10px;
    }
  }
}

.shop-menu {
  position: absolute;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);
  left: 12%;
  display: none;
  @media only screen and (max-width: 3500px) {
    width: 1000px;
  }
  @media only screen and (max-width: 2300px) {
    width: 800px;
  }
  @media only screen and (max-width: 1200px) {
    width: 600px;
  }
  @media only screen and (max-width: 900px) {
    width: 400px;
  }
  @media only screen and (max-height: 1400px) {
    height: 600px;
  }
  @media only screen and (max-height: 1000px) {
    height: 400px;
  }
  .category-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px;
    row-gap: 70px;
    .category {
      color: #2d78f0;
      text-decoration: none;
      @media only screen and (max-width: 3500px) {
        font-size: 20px;
      }
      @media only screen and (max-width: 2300px) {
        font-size: 17px;
      }
      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }
      @media only screen and (max-width: 900px) {
        font-size: 11px;
      }
      
    }
  }
}
